.product {
  border: 1px solid rgb(201, 196, 196);

  border-radius: 20px;

  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(176, 175, 175, 0.1);
  border: 0;
  height: fit-content;
}

.product-image-section {
  overflow: hidden;
}
.product .product-image {
  width: 90%;
  margin: -60px 10px -60px 14px;
}

.product-details p {
  line-height: 5px;
  font-size: 75%;
}
.product-details {
  padding-top: 30px;
  padding-left: 20px;

  /* border:1px solid red; */
}
.similarProduct-details {
  padding-top: 20px;
  padding-left: 20px;
}
.similarProduct-details p {
  line-height: 0px;
  font-size: 70%;
}

.product .addtocartButton {
  background-color: var(--color-button);
  color: white;

  height: 30px;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  border: 0;
}
/* .product .addtocartButton:hover {
  background-color: #6c6c6c;
}
.product .addtocartButton:active {
  background-color: #b64f4f;
} */

.product .buynowButton {
  font-size: 12px;

  background-color: var(--color-button);
  color: white;

  height: 30px;
  width: 100%;
  /* color: white; */
  border: 0;
  border-radius: 0;
}

.heart {
  /* border: 1px solid red; */

  float: right;
  font-size: 25px;
  color: rgb(182, 173, 173);

  margin-top: 7px;
  margin-right: 10px;

  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;

  &.active {
    color: rgb(192, 39, 39);
  }
}
/* filter Modal CSS Here*/

.filter span {
  color: rgb(121, 120, 120);
  font-size: 12px;
}
.filter .row {
  margin-bottom: 25px;
}

.filter label {
  align-items: center;
}

.filter p {
  font-size: 14px;
  background-color: lightgray;
}
